<div class="modal fade" id="contactModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4 text-dark" id="contactModalLabel">Need Help or Want to Reach Us?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form id="contact-form" onSubmit={formSubmit}>
                    <div class='mb-3'>
                        <input type="text" name="fullname" class="form-control rounded-0" id="contact-fullname"
                            placeholder="Full Name*" />
                        <div class="invalid-feedback">Kindly input your fullname</div>
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control rounded-0" id="contact-email" placeholder="Email*" />
                        <div class="invalid-feedback">Kindly input your email</div>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="phone" class="form-control rounded-0" id="contact-phone"
                            placeholder="Phone Number*" />
                        <div class="form-text">Kindly include country code e.g +234, +1</div>
                        <div class="invalid-feedback">Kindly input your phone number</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select rounded-0" name='issue' aria-label="issues select">
                            <option value="">Help Us Understand What You Need Addressed</option>
                            <option value="1">Course-related</option>
                            <option value="2">Payment-related</option>
                            <option value="3">Others</option>
                        </select>
                        <div class="invalid-feedback">Help us understand the matter of your mail</div>
                    </div>
                    <div class="form-floating">
                        <textarea class='form-control rounded-0' name="message" id="contact-message" placeholder='testing' style="height: 100px;"></textarea>
                        <label htmlFor="contact-message">Tell Us More</label>
                        <div class="invalid-feedback">Kindly input your message</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark rounded-0" data-bs-dismiss="modal">Close</button>
                <button type="button" id="contact-form-submit-button" class="btn btn-primary rounded-0">Send</button>
            </div>
        </div>
    </div>
</div>