<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4 text-dark" id="deletePostModalLabel">Delete Resource</h1>
                <button type="button" id="delete-dialog-close-button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                All resources for <b class="fw-bold"> post.title </b> will be removed from the database. This action cannot be undone.
                <div class="my-3">
                    Are you sure you want to delete this Blog Post?
                </div>
                Please type the ID <b class="text-primary"> post.id </b> in the text box below to confirm
                <input type="text" class="form-control my-3 rounded-0" id="delete-input" pattern="post.id" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark rounded-0" data-bs-dismiss="modal">Cancel</button>
                <button data-bs-toggle="modal" data-bs-target="#loadingModal" type="button" id="delete-dialog-confirmation-button" disabled class="btn btn-danger rounded-0">Delete</button>
            </div>
        </div>
    </div>
</div>