<div class="toast-container position-fixed bottom-0 start-0 p-3">
    <% if (fadingNotification){ %>
        <div id="fadingToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="/logo.png" width="30" class="rounded me-2" alt="alert logo image">
                <strong class="me-auto">Fnmilove</strong>
                <small><%= fadingNotification.time %></small>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
            </div>
            <div class="toast-body">
                <%= fadingNotification.message %>
            </div>
        </div>
    <% } %>
    
    <% if (staticNotification){ %>
        <div id="staticToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">
                <img src="/logo.png" width="30" class="rounded me-2" alt="alert logo image">
                <strong class="me-auto">Fnmilove</strong>
                <small><%= staticNotification.time %></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <%= staticNotification.message %>
            </div>
        </div>
    <% } %>
</div>