<div class="toast-container position-fixed bottom-0 start-0 p-3">
        <div id="fadingToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="/logo.png" width="30" class="rounded me-2" alt="alert logo image">
                <strong class="me-auto">Fnmilove</strong>
                <small id="fade-toast-time"></small>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
            </div>
            <div id="fade-toast-msg" class="toast-body"></div>
        </div>
    
        <div id="staticToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">
                <img src="/logo.png" width="30" class="rounded me-2" alt="alert logo image">
                <strong class="me-auto">Fnmilove</strong>
                <small id="static-toast-time"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="static-toast-msg" class="toast-body"></div>
        </div>
</div>