@use "../frontend/src/config" as bs;

// Montserrat Font
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Bold'),
        url('/fonts/Montserrat-Bold.woff2') format(woff2),
        url('/fonts/Montserrat-Bold.woff') format(woff),
        url('/fonts/Montserrat-Bold.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'),
        url('/fonts/Montserrat-Regular.woff2') format(woff2),
        url('/fonts/Montserrat-Regular.woff') format(woff),
        url('/fonts/Montserrat-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

// Nunito Font
@font-face {
    font-family: 'Nunito';
    src: local('Nunito-Bold'),
        url('/fonts/Nunito-Bold.woff2') format(woff2),
        url('/fonts/Nunito-Bold.woff') format(woff),
        url('/fonts/Nunito-Bold.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: local('Nunito-Regular'),
        url('/fonts/Nunito-Regular.woff2') format(woff2),
        url('/fonts/Nunito-Regular.woff') format(woff),
        url('/fonts/Nunito-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

// Radley Font
@font-face {
    font-family: 'Radley';
    src: local('Radley-Italic'),
        url('/fonts/Radley-Italic.woff2') format(woff2),
        url('/fonts/Radley-Italic.woff') format(woff),
        url('/fonts/Radley-Italic.ttf') format(truetype);
    font-weight: normal;
    font-style: italic;
}


.top-spacing {
    margin-top: 7rem;
}

.vertical-padding {
    padding: 6rem 0;
}

:root {
    --xs-screen: "575px";
    --sm-screen: "767px";
    --md-screen: "991px";
    --lg-screen: "1199px";
    --primary-color: #ffbd59;
    --secondary-color: #463f61;
    --info-color: #1c8cde;
    --light-color: #c2cbca;
    --dark-color: #000000;
}

Body {
    font-family: "Nunito", sans-serif;
    color: bs.$dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: bs.$secondary;
}

.radley-font {
    font-family: "Radley", serif;
    font-weight: Bold;
}

.head-nav {
    .fnmi-logo {
        vertical-align: bottom;
        width: 61px;
    }
    .academy-logo {
        width: 50px;
    }
}

#course{
    .contact-card{
        background-size: cover;
        // background-position: top;
        position: relative;
        & > div{
            position: relative;
            z-index: 2;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--primary-color);
            z-index: 1;
            opacity: 0.7;
        }

    }
    .pointer-cursor{
        cursor: pointer;
    }
}

#job{
    .company-logo{
        position: absolute;
        padding: 10px;
        border-radius: 15px;
        bottom: 0;
        left: 8%;
        transform: translate(0, 50%);
    }
}


@media (max-width: 767px) {
    .head-nav {
        .fnmi-logo {
            width: 38px;
        }

        .academy-logo {
            width: 35px;
        }
    }
}