.radley-font{
    font-family: "Radley", serif;
    font-weight: Bold
}

.head-nav{
    .fnmi-logo{
        vertical-align: bottom;
        width: 61px;
    }
    .academy-logo{
        width: 50px;
    }
}


@media (max-width: 767px) {
    .head-nav {
        .fnmi-logo {
            width: 38px;
        }

        .academy-logo {
            width: 35px;
        }
    }
}