// Radley Font
@font-face {
    font-family: 'Radley';
    src: local('Radley-Italic'),
        url('/fonts/Radley-Italic.woff2') format(woff2),
        url('/fonts/Radley-Italic.woff') format(woff),
        url('/fonts/Radley-Italic.ttf') format(truetype);
    font-weight: normal;
    font-style: italic;
}

.radley-font{
    font-family: "Radley", serif;
}