// Radley Font
@font-face {
    font-family: 'Radley';
    src: local('Radley-Italic'),
        url('/fonts/Radley-Italic.woff2') format(woff2),
        url('/fonts/Radley-Italic.woff') format(woff),
        url('/fonts/Radley-Italic.ttf') format(truetype);
    font-weight: normal;
    font-style: italic;
}

.radley-font{
    font-family: "Radley", serif;
    font-weight: Bold
}

.head-nav{
    .fnmi-logo{
        vertical-align: bottom;
        width: 61px;
    }
    .academy-logo{
        width: 50px;
    }
}


@media (max-width: 767px) {
    .head-nav {
        .fnmi-logo {
            width: 38px;
        }

        .academy-logo {
            width: 35px;
        }
    }
}