#about{
    .banner{
        background-image: url("https://res.cloudinary.com/kkenny/image/upload/v1731994937/Fnmilove%20Academy/group_hlsizx.jpg");
        background-position: center;
        background-size: cover;
    }
}