<main>
    <article>
        <section class="vertical-padding text-center banner bg-dark">
            <div class="container">
                <h1 class="text-white fw-bold">Advanced Bridal Makeup: Creating Stunning Wedding Looks</h1>
                <nav class="text-white mt-4">
                    <a class="text-decoration-none" href="/">Home</a> >>
                    <a class="text-decoration-none" href="/">Courses</a> >> Advanced Bridal Makeup: Creating Stunning Wedding Looks
                </nav>
            </div>
        </section>
        <section class="mt-5">
            
        </section>
    </article>
</main>